{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    {% include 'AtwTestBundle:Common:flashNotices.html.twig' %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>記事内容</th>
                <td>{{ entity.description|nl2br }}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>サムネイル</th>
                <td><img src="{{ entity.thumbnailPath }}" alt="{{ entity.title }}"></td>
            </tr>
            <tr>
                <th>登録日時</th>
                <td>{{ entity.createdAt|datetime_format }}</td>
            </tr>
            <tr>
                <th>更新日時</th>
                <td>{{ entity.updatedAt|datetime_format }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('article') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
