{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category</h1>

    {% include 'AtwTestBundle:Common:flashNotices.html.twig' %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>カテゴリーコード</th>
                <td>{{ entity.categoryCode }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>有効期限</th>
                <td>{{ entity.expiredAt|datetime_format }}</td>
            </tr>
            <tr>
                <th>登録日時</th>
                <td>{{ entity.createdAt|datetime_format }}</td>
            </tr>
            <tr>
                <th>更新日時</th>
                <td>{{ entity.updatedAt|datetime_format }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
